@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --font-medium: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--white-color);
}

input, button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

.login {
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.login__form {
    position: relative;
    background-color: hsla(0, 0%, 10%, .1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    width: 100%;
    max-width: 400px;
}

.login__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}

.login__content {
    display: grid;
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.login__box {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: .75rem;
    border-bottom: 2px solid var(--white-color);
}

.login__icon,
.login__eye {
    font-size: 1.25rem;
}

.login__input {
    width: 100%;
    padding-block: .8rem;
    background: transparent;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

.login__box-input {
    position: relative;
    width: 100%;
}

.login__eye {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.login__check,
.login__check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__check {
    margin-bottom: 1.5rem;
}

.login__check-label {
    font-size: var(--small-font-size);
}

.login__check-group {
    column-gap: .5rem;
}

.login__check-input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.login__button {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background .3s;
}

    .login__button:hover {
        background-color: hsla(0, 0%, 100%, 0.8);
    }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--white-color) !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

@media screen and (min-width: 576px) {
    .login__form {
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }

    .login__title {
        font-size: 2rem;
    }
}